/**
* Template Styles
**/
// @import './template/bootstrap.min.css';
// @import './template/fonts.min.css';
@import './template/main.css';

/**
* Builder Styles
**/
@import './builder/css/jquery.scrollbar.css';
@import './builder/css/dropzone.css';
@import './builder/css/builder.css';
