<div id="sidebar">
    <div id="sidebaricon" ng-click="toggleSidebar()">
        <i class="rt-icon2-cog-outline"></i>
        <i class="rt-icon2-times-outline"></i>
    </div>
    <div class="left scrollbar-macosx" ng-cloak>
        <h2>Elements</h2>
        <ul id="available-blocks" class="list-unstyled">
            
            <li id="options-{{$index}}" ng-repeat="(groupKey, group) in config" ng-class="$first && $last ? 'li-first li-last' : ($first ? 'li-first' : ($last ? 'li-last' : 'li-middle'))">
                <h3 ng-click="activateGroup('dragndrop-' + $index)"
                    ng-class="{ 'group-header-active': 'dragndrop-'+$index == selectedGroupIndex }"
                >
                    {{ groupKey }}
                </h3>

                <div class="selected-group-options" 
                    ng-class="{ 'group-active': 'dragndrop-' + $index == selectedGroupIndex }"
                >
                    <div class="right scrollbar-macosx">
                        <div ng-repeat="(blockKey, block) in group" class="drag-element-otions">
                            <h4 class="group-name"> 
                                {{ block.name }}
                                <span>
                                    <span class="question" data-toggle="tooltip" data-placement="bottom" title="{{ block.description }}">?</span>
                                </span>
                            </h4>
                            
                            <div class="selected-block-options">

                                <div class="selects">
                                    <div ng-repeat="(selectKey, select) in block.selects" class="form-group">
                                        <h5 class="option-name">{{ select.name }}</h5>
                                        <select selectpicker="{style: 'sidebar-form-control', dropupAuto: false}" id="{{select.id}}" ng-model="select.choosen" ng-options="key as value for (key, value) in select.values"></select>
                                    </div>
                                </div>
                                <!-- eof selects -->

                                <div class="checkboxes">
                                    <div ng-repeat="checkbox in block.checkboxes">
                                        <div class="checkbox checkbox-slider--b-flat">
                                            <label>
                                                <input type="checkbox" value="{{checkbox.value}}" id="{{checkbox.id}}" ng-model="checkbox.choosen"> <span>{{ checkbox.name }}</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!-- eof checkboxes -->

                                <div class="inputs">
                                    <div ng-repeat="input in block.inputs">
                                        <div class="form-group">
                                            <label for="{{input.id}}">{{input.name}}</label>
                                            <input type="text" class="sidebar-form-control" id="{{input.id}}" placeholder="" value="" ng-model="input.entered">

                                        </div>										
                                    </div>
                                </div>
                                <!-- eof inputs -->


                                <div class="visuals">
                                    <div ng-repeat="(visualKey, visualButton) in block.visuals" ng-class="$last? 'visual-last': ''">
                                        <a href="#" class="builder_btn btn_block" 
                                            ng-class-odd="'btn_highlight'" 
                                            ng-class-even="'btn_light'" 
                                            ng-click="visualSelect(block, visualKey);">
                                                <i class="rt-icon2-edit"></i> Select {{visualButton.name}}
                                        </a>
                                            
                                    </div>
                                </div>
                                <!-- eof visuals -->

                                <div class="images-selects">
                                    <div ng-repeat="(imagesKey, imageButton) in block.images" ng-class="$last? 'image-last': ''">
                                        <a href="#" class="builder_btn btn_block" 
                                            ng-class-odd="'btn_highlight'" 
                                            ng-class-even="'btn_light'" 
                                            ng-click="imageSelect(block, imagesKey);">
                                                <i class="rt-icon2-edit"></i> Select {{imageButton.name}}
                                        </a>
                                            
                                    </div>
                                </div>
                                <!-- eof visuals -->


                                <div class="repeats">
                                    <div ng-repeat="repeat in block.repeats">
                                        <div class="form-group">
                                            <label for="{{repeat.id}}">{{repeat.name}}</label>
                                            <div class="lh1">
                                                <button type="number" 
                                                    class="builder_btn btn_highlight" 
                                                    ng-click="repeat.entered = repeat.entered - 1">
                                                    -
                                                </button>

                                                <input type="number" 
                                                    class="sidebar-form-control ib" 
                                                    min="1" 
                                                    max="10" 
                                                    id="{{repeat.id}}" 
                                                    placeholder="{{repeat.name}}" 
                                                    value="" 
                                                    ng-model="repeat.entered">

                                                <button type="number" 
                                                    class="builder_btn btn_highlight" 
                                                    ng-click="repeat.entered = repeat.entered + 1">
                                                    +
                                                </button>
                                                
                                            </div>
                                            
                                        </div>										
                                    </div>
                                </div>
                                <!-- eof repeats -->

                                <div class="drag-element" 
                                    data-connect="{{ block.parents }}" 
                                    data-layout="{{ block.toInsert }}"
                                    ng-mouseenter="generateElement(block);"
                                    ng-mousedown="toggleSidebar();"

                                >
                                    <img ng-src="{{ block.image ? block.image : 'builder/img/noicon.png' }}" alt="">
                                </div>

                            </div>
                            
                        </div><!--eof block repeat-->
                    </div><!--eof right scrollbar-->

                </div><!--eof selected-group-options-->
                
            </li>

        </ul>

        <h2>
            <span ng-if="!sectionsLength">No</span>
            Saved Sections
        </h2>

        <ul id="sections" class="list-unstyled">
            <li id="options-sections-{{$index}}" ng-repeat="(sectionId, section) in $storage.sections" ng-class="$first && $last ? 'li-first li-last' : ($first ? 'li-first' : ($last ? 'li-last' : 'li-middle'))">
                <h3 class="section-name" ng-click="activateGroup('section-'+ $index)"
                    ng-class="{ 'group-header-active': 'section-'+$index == selectedGroupIndex }"
                >
                    #{{ sectionId }}
                </h3>

                <div class="selected-group-options" 
                    ng-class="{ 'group-active': 'section-'+$index == selectedGroupIndex }"
                >
                    <h4 class="group-name"> 
                        #{{ sectionId }}
                    </h4>
                    <div class="selected-block-options">

                        <div class="drag-element" 
                            data-connect="#box_wrapper" 
                            data-layout="{{ section }}"
                            ng-mousedown="toggleSidebar();"
                        >
                            <img src="builder/img/noicon.png" alt="">
                        </div>

                        <a href="#" class="builder_btn btn_highlight btn_block" ng-click="deleteSaved('sections', sectionId, 'Are you sure you want to delete section ', true);"><i class="rt-icon2-document-delete"></i> Delete Section</a>

                    </div>

                </div>
                
            </li>
        </ul>
        
        <h2>
            <span ng-if="!pagesLength">No</span>
            Saved Pages
        </h2>

        <ul id="pages" class="list-unstyled">
            <li id="options-pages-{{$index}}" ng-repeat="(pageId, page) in $storage.pages" ng-class="$first && $last ? 'li-first li-last' : ($first ? 'li-first' : ($last ? 'li-last' : 'li-middle'))">
                <h3 class="page-name" ng-click="activateGroup('page-'+ $index)"
                    ng-class="{ 'group-header-active': 'page-'+$index == selectedGroupIndex }"
                >
                    {{ pageId }}.html
                </h3>

                <div class="selected-group-options" 
                    ng-class="{ 'group-active': 'page-'+$index == selectedGroupIndex }"
                >
                    <h4 class="group-name"> 
                        {{ pageId }}.html
                    </h4>
                    <div class="selected-block-options">

                        <a href="#" class="builder_btn btn_light btn_block" ng-click="editPage(pageId, true)"><i class="rt-icon2-edit"></i> Edit Page</a href="#">
                        
                        <a href="#" class="builder_btn btn_highlight btn_block" ng-click="deleteSaved('pages', pageId, 'Are you sure you want to delete page ', true);"><i class="rt-icon2-document-delete"></i>Delete Page</a>
                    

                    </div>

                </div>
                
            </li>
        </ul>

        <h2>Project</h2>

        <ul class="bottom_operation list-unstyled">
            <li id="bottom_export">
                <a href="#" ng-click="exportProject();" class="builder_btn btn_highlight btn_block"><span class="rt-icon2-out"></span> Export</a>
            </li>
            <li id="bottom_import">
                <a href="#" data-toggle="modal" data-target="#importProject" class="builder_btn btn_dark btn_block"><span class="rt-icon2-in"></span> Import</a>
            </li>
        </ul>
        
        <h2 class="no-bg">Requires PHP:</h2>

        <ul class="bottom_operation list-unstyled">
            <li id="bottom_preview">
                <a href="#" ng-click="pagePreview();" class="builder_btn btn_highlight btn_block"><span class="rt-icon2-zoom"></span> Preview</a>
            </li>
            <li id="bottom_generate_html">
                <a href="#" ng-click="generateFiles();" class="builder_btn btn_light btn_block"><span class="rt-icon2-code-outline"></span> Create Pages</a>
            </li>
            <li id="bottom_get_zip">
                <a href="#" ng-click="generateZip();" class="builder_btn btn_dark btn_block"><span class="rt-icon2-download-outline"></span> Get ZIP</a>
            </li>
        </ul>
    </div><!--eof scrollbar-->
</div>
<!-- eof menu -->