<div class="modal fade" id="deleteSection" tabindex="-1" role="dialog" aria-labelledby="deleteSectionLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="rt-icon2-times-outline"></i></span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="deleteSectionLabel">Delete section?</h4>
            </div>
            <div class="modal-body">

                <p>Are you sure you want to delete section?</p>

                <div class="modal-footer">
                    <button type="button" class="builder_btn btn_highlight" data-dismiss="modal" ng-click="deleteSection(false)"><i class="rt-icon2-tick-outline"></i> Delete section</button>
                    <button type="button" class="builder_btn btn_light" data-dismiss="modal"><i class="rt-icon2-times-outline"></i> Cancel</button>
                </div>
                
            </div>

        </div>
    </div>
</div>
