<div class="modal fade" id="editColumn" tabindex="-1" role="dialog" aria-labelledby="editColumnLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="rt-icon2-times-outline"></i></span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="editColumnLabel">New column's parameters</h4>
            </div>
            <div class="modal-body">


                <div class="selects">
                    <div ng-repeat="(selectKey, select) in config['Grid Elements'].columns.selects" class="form-group">
                        <h5 class="option-name">{{ select.name }}</h5>
                        <select selectpicker="{style: 'sidebar-form-control', dropupAuto: false}" id="{{select.id}}" ng-model="select.choosen" ng-options="key as value for (key, value) in select.values"></select>
                    </div>
                </div>
                <!-- eof selects -->

                <div class="checkboxes">
                    <div ng-repeat="checkbox in config['Grid Elements'].columns.checkboxes">
                        <div class="checkbox checkbox-slider--b-flat">
                            <label>
                                <input type="checkbox" value="{{checkbox.value}}" id="{{checkbox.id}}" ng-model="checkbox.choosen"> <span>{{ checkbox.name }}</span>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- eof checkboxes -->

                <div class="inputs">
                    <div ng-repeat="input in config['Grid Elements'].columns.inputs">
                        <div class="form-group">
                            <label for="{{input.id}}">{{input.name}}</label>
                            <input type="text" class="sidebar-form-control" id="{{input.id}}" placeholder="" value="" ng-model="input.entered">

                        </div>										
                    </div>
                </div>
                <!-- eof inputs -->


                <div class="visuals">
                    <div ng-repeat="(visualKey, visualButton) in config['Grid Elements'].columns.visuals" ng-class="$last? 'visual-last': ''">
                        <a href="#" class="builder_btn btn_block" 
                            ng-class-odd="'btn_highlight'" 
                            ng-class-even="'btn_light'" 
                            ng-click="visualSelect(config['Grid Elements'].section, visualKey);">
                                <i class="rt-icon2-edit"></i> Select {{visualButton.name}}
                        </a>
                            
                    </div>
                </div>
                <!-- eof visuals -->

                <div class="images-selects">
                    <div ng-repeat="(imagesKey, imageButton) in config['Grid Elements'].columns.images" ng-class="$last? 'image-last': ''">
                        <a href="#" class="builder_btn btn_block" 
                            ng-class-odd="'btn_highlight'" 
                            ng-class-even="'btn_light'" 
                            ng-click="imageSelect(config['Grid Elements'].section, imagesKey);">
                                <i class="rt-icon2-edit"></i> Select {{imageButton.name}}
                        </a>
                            
                    </div>
                </div>
                <!-- eof visuals -->


                <div class="repeats">
                    <div ng-repeat="repeat in config['Grid Elements'].columns.repeats">
                        <div class="form-group">
                            <label for="{{repeat.id}}">{{repeat.name}}</label>
                            <div class="lh1">
                                <button type="number" 
                                    class="builder_btn btn_highlight" 
                                    ng-click="repeat.entered = repeat.entered - 1">
                                    -
                                </button>

                                <input type="number" 
                                    class="sidebar-form-control ib" 
                                    min="1" 
                                    max="10" 
                                    id="{{repeat.id}}" 
                                    placeholder="{{repeat.name}}" 
                                    value="" 
                                    ng-model="repeat.entered">

                                <button type="number" 
                                    class="builder_btn btn_highlight" 
                                    ng-click="repeat.entered = repeat.entered + 1">
                                    +
                                </button>
                                
                            </div>
                            
                        </div>										
                    </div>
                </div>
                <!-- eof repeats -->

                        
                <div class="modal-footer">
                    <button type="button" class="builder_btn btn_highlight" 
                        data-layout="{{ config['Grid Elements'].columns.toInsert }}"
                        ng-mouseenter="generateElement(config['Grid Elements'].columns);"
                        ng-click="updateColumn($event);">
                        <i class="rt-icon2-tick-outline"></i> Apply new params to column
                    </button>

                    <button type="button" class="builder_btn btn_light" data-dismiss="modal"><i class="rt-icon2-times-outline"></i> Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
