<div class="modal fade" id="getSectionId" tabindex="-1" role="dialog" aria-labelledby="getSectionIdLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="rt-icon2-times-outline"></i></span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="getSectionIdLabel">Provide section ID</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="sectionIdInput">Section ID attribute</label>
                    <input type="text" class="form-control" id="sectionIdInput" ng-model="sectionid" placeholder="section ID attribute" required>
                </div>

                <div class="modal-footer">
                    <button type="button" class="builder_btn btn_highlight" ng-click="saveSectionWithoutId(sectionid)"><i class="rt-icon2-tick-outline"></i> Save Section</button>
                    <button type="button" class="builder_btn btn_light" data-dismiss="modal"><i class="rt-icon2-times-outline"></i> Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
