<div class="modal fade" id="visualImageSelect" tabindex="-1" role="dialog" aria-labelledby="visualImageSelectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"><i class="rt-icon2-times-outline"></i></span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="visualImageSelectLabel">Select Image</h4>
            </div>
            <div class="modal-body">

                <div class="upload-images-form">
                    <form action="builder/upload.php" class="dropzone" ng-dropzone dropzone="dropzone" dropzone-config="dropzoneConfig">
                        <div class="dz-message"><i class="rt-icon2-cross"></i>Drag your images here</div>
                    </form>
                    <!-- <form action="builder/upload.php" class="dropzone" id="uploadimage"></form> -->
                </div>

                <span class="image-visual-select" ng-repeat="(imageKey, imageSrc) in visualSelectingImageBlock.images[visualSelectingBlockImagesKey].values track by $index" ng-click="selectImage(visualSelectingImageBlock, visualSelectingBlockImagesKey, imageKey);">
                    
                    <img ng-src="{{imageSrc}}" title="{{imageSrc}}">

                </span>

                <!-- 
                    <span ng-bind-html="element"></span> 
                    {{visualSelectingImageBlock.images[visualSelectingBlockImagesKey].values}}
                    {{templateImages}}
                -->
                    
                <div class="modal-footer">
                    <button type="button" class="builder_btn btn_light" data-dismiss="modal"><i class="rt-icon2-times-outline"></i> Close</button>
                </div>
            </div>

        </div>
    </div>
</div>