<div id="modes">

    <div class="radio radio-info radio-inline">
        <input type="radio" ng-model="tinymce" value="dragndrop" id="mode-dragndrop">
        <label class="radio-inline" for="mode-dragndrop">Drag'n'Drop</label>
        <span class="question" data-toggle="tooltip" data-placement="bottom" title="In this mode you can drag elements from left menu to canvas to build your page">?</span>
    </div>


    <div class="radio radio-info radio-inline">
        <input type="radio" ng-model="tinymce" value="tinymce" id="mode-contentedit">
        <label class="radio-inline" for="mode-contentedit">Content Edit</label>
        <span class="question" data-toggle="tooltip" data-placement="bottom" title="In this mode you can edit columns content. Just double click on any column">?</span>
    </div>


    <label class="radio-inline checkbox-slider--b-flat">
        <input type="checkbox" value="grid" checked ng-model="grid"> <span>Show Grid</span>
    </label>
    
</div>